# Dependencias de Node
node_modules/
.env

# Archivos de caché y logs
npm-debug.log*
yarn-error.log

# Archivos de entorno
.env

# Caché de Python
__pycache__/
*.pyc

# Entornos virtuales de Python
.venv/
venv/
